<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        
        You entered: <br/>
        
        #{customer.firstName} <br/>
        #{customer.lastName} <br/>
        #{customer.age} <br/>
        #{customer.address.line1} <br/>
        #{customer.address.line2} <br/>
        #{customer.address.city} <br/>
        #{customer.address.zip} <br/>
          
        <br />
 
    </h:body>
</html>

