<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ez="http://xmlns.jcp.org/jsf/composite/ezcomp">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>


        <h:form>
            <messages/>
            <h:panelGrid columns="2">
                <h:outputLabel for="firstName" value="First Name"/>
                <h:inputText id="firstName" value="#{customer.firstName}" required="true">
                    <f:validateLength maximum="10"/>
                </h:inputText>
                <h:outputLabel for="lastName" value="Last Name"/>
                <h:inputText id="lastName" value="#{customer.lastName}" required="true"/>
                <h:outputLabel for="age" value="Age"/>
                <h:inputText id="age" value="#{customer.age}">
                    <f:validateLongRange minimum="0" maximum="100"/>
                </h:inputText>
            </h:panelGrid>
            <ez:maddress addrType="Billing"/>
            <ez:maddress addrType="Shipping"/>

            <h:commandButton value="Submit" action="#{customerController.processMe()}"></h:commandButton>
        </h:form>


        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
    </h:body>
</html>

